/* Estilos Formulario */
.form  {
    margin: 2% auto;
}
.form .title {
    text-align: center;

}

.form label {
    width: 25%;
    min-width: 130px;
}

.form input {
    width: 25%;
    min-width: 130px;
}

.form button[type="submit"] {
    display: block;
}

.form .previewimage img {
    width: 140px;
}

.form #btnpreview {
    display: inline-block;
    max-width: 80px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    border: 1px dashed #28a745;
    background: rgba(40, 167, 69, 0.3);
}