/* Estilos Formulario */
.form  {
    margin: 2% auto;
}
.form .title {
    text-align: center;

}

.form label {
    width: 25%;
    min-width: 130px;
}

.form input {
    width: 25%;
    min-width: 130px;
}