/* Style Form Product */
@import "form.css";

:root {
    --max-width-site: 1280px;
}
.navigation {
    background: url(./../img/bg_nav.png);
    height: 130px;
}

header#header {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr minmax(2fr, 700px);
    max-width: var(--max-width-site);
    width: 100%;
    margin: 10px auto;
}

/* Navbar */

nav.navbar {
    background: url(./../img/bg_nav.png) no-repeat;
    background-size: cover;
    background-position: 50%; 
    padding: 0;
    
}

nav.navbar .content {
    width: 90%;
    margin: 0 auto;
    max-width: var(--max-width-site);
    height: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 50px;
}

nav.navbar .content .logo {
    width: 100%;
    max-height: 70px;
}

nav.navbar .section-menu__left {
    grid-column: 1 / span 2;
}
nav.navbar .section-menu__right {
    justify-content: space-between;
}

nav.navbar .section-menu__left, nav.navbar .section-menu__right, nav.navbar .panel-menu  {
    list-style-type: none;
    display: flex;
    padding: 3px;
    margin: 0;
    align-items: center;
}
nav.navbar a.menu-item__link {
    padding: 8px 10px;
    color: #555;
    font-weight: 700;
}




/* Menu Search */

nav.navbar .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.navbar .search button {
    padding: 4px 10px;
    background-image: linear-gradient(-225deg, #97db18 0%, #4aa504 100%);
    border: 1px solid #4aa504;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

nav.navbar input#searchinput {
    border: 1px solid #d6cebb;
    background: #f7f5f0;
    border-radius: 4px;
    height: 30px;
    margin-top: 1px;
    width: 70%;
}

nav.navbar .brand {
    display: flex;
    align-items: center;
}


header#header .phrase {
    grid-column: 1 / span 2;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

header#header .phrase p {
    background: #eeebe3;
    padding: 1%;
    margin: 0;
    color: #4d291d;
    font-style: italic;
}

header#header li {
    list-style-type: none;
}

header#header ul {
    padding: 0;
}

header#header h4.categories__cat-title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 auto;
    background: #67bf23;
    padding: 10px 0;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

li.categories__cat-item a {
    display: block;
    width: 100%;
    padding: 10px 4px;
    background: #f9f8f3;
    margin: 1px auto;
    color: #666;
}
li.categories__cat-item a:hover {
    border-right: 3px solid #67bf23;
    background: #eeece3;
    text-decoration: none;
}


/* Catalogo Destacados */
#catalogue {
    max-width: 1280px;
    margin: 20px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.catalogue__product-card {
    border: 1px solid #ccc;
    margin: 0 6px;
    border-radius: 4px;
    padding: 6px;
    box-shadow: 2px 3px 4px #999;
}

.catalogue__product-image {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}



/* Seccion Belleza */

section.beauty {
    display: grid;
    grid-template-columns: 1fr 1fr;
}