/* Style Form Product */
@import "form.css";

.navigation {
    background: url(./../img/bg_nav.png);
    height: 130px;
}

header#header {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr minmax(2fr, 700px);
}

/* Navbar */

nav.navbar {
    background: url(./../img/bg_nav.png) no-repeat;
    background-size: cover;
    background-position: 50%; 
    padding: 0;
    
}

nav.navbar .content {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 50px;
}

nav.navbar .content .logo {
    width: 100%;
    max-height: 70px;
}

nav.navbar .section-menu__left {
    grid-column: 1 / span 2;
}
nav.navbar .section-menu__right {
    justify-content: space-between;
}

nav.navbar .section-menu__left, nav.navbar .section-menu__right, nav.navbar .panel-menu  {
    list-style-type: none;
    display: flex;
    padding: 3px;
    margin: 0;
    align-items: center;
}
nav.navbar a.menu-item__link {
    padding: 8px 10px;
    color: #555;
    font-weight: 700;
}




/* Menu Search */

nav.navbar .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.navbar .search button {
    padding: 4px 10px;
    background-image: linear-gradient(-225deg, #97db18 0%, #4aa504 100%);
    border: 1px solid #4aa504;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

nav.navbar input#searchinput {
    border: 1px solid #d6cebb;
    background: #f7f5f0;
    border-radius: 4px;
    height: 30px;
    margin-top: 1px;
    width: 70%;
}

nav.navbar .brand {
    display: flex;
    align-items: center;
}

header#header .phrase {
    grid-column: 1 / span 2;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

header#header .phrase p {
    background: #eeebe3;
    padding: 1%;
    margin: 0;
    color: #4d291d;
    font-style: italic;
}


/* Seccion Belleza */

section.beauty {
    display: grid;
    grid-template-columns: 1fr 1fr;
}